@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0px;
    padding: 0px;

}
main {
    padding: 16px;
}
h1 {
    color: green;
}

footer {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 0px;
    border: 1px solid black;
    background-color: lightgreen;
    line-height: 75px;
}
img {
    height: 200px;
}
nav {
    border: 2px solid black;
    padding: 16px;
    background-color: tomato;

}
nav a {
    color: white;
}
  a {
    text-decoration: none;
    color: green;
  }
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
  }
  tr:nth-child(even) {
    background-color: lightgray;
  }
